html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	text-align: center;
}

header {
	margin-bottom: 40px;
}

main {
	width: 100%;
	min-height: 90%;
	margin-bottom: -10px;
}

footer {
   	width: 100%;
   	color: black;
}

.copyright {
	text-align: left;
	/*font-size: 11px;*/
	margin-bottom: 10px;
}

.connect {
	width: 6%;
	height: 6%;
}

.creator {
	text-align: right;
	margin-bottom: 10px;
}

.login-form-container, .sign-up-form-container {
	border: 2px solid black;
	margin-bottom: 10px;
	border-radius: 4px;
	padding: 12px 12px;
}

.login-container{
	margin-bottom: 40px;
}


/*bootstrap overrides*/

.form-group {
	/*align labels sign up/login to the left*/
	text-align: left;
}

.form-control {
	margin: 2px 2px;
}

.btn {
	margin-top: 12px;
	margin-bottom: 2px;
	padding: 4px 20px;
	width: 30%;
}

/*MEDIA QUERY FOR MOBILE*/
@media screen and (max-width: 460px) {
	.btn {
		font-size: 12px;
	}

	.copyright {
		text-align: center;
		font-size: 11px;
		margin-bottom: 10px;
	}

	.connect{
		width: 7%;
		height: 7%;
		margin-bottom: 10px;
	}

	.creator {
		text-align: center;
		font-size: 11px;
		margin-bottom: 10px;
	}
}

/*MEDIA QUERY FOR IPAD - 768X1024 PX*/
@media screen and (max-width: 768px) {

}

/*MEDIA QUERY FOR IPAD - 1024X1366 PX*/
@media screen and (max-width: 1024px) {

}
