body {
	height: 100%;
	background-image: url(https://images.wallpaperscraft.com/image/coins_money_silver_80483_2560x1600.jpg);
	background-repeat: no-repeat;
	font-family: 'Libre Baskerville', serif;
}

.jumbotron {
	background-color: #343a40cf;
	width: 80%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
    color: #f8ffff;
}

.info {
	margin: 10px 10px;
	padding: 20px 20px;
	font-size: 1.25rem;
    font-weight: 300;
}

.btn-primary {
    background: #212627d6;
    color: #f8ffff;
    border-color: #212627d6;
}

.connectMe {
	text-align: center;
}

.connect {
	text-align: center;
	width: 5%;
	height: 5%;
	margin-bottom: 10px;
}