.jumbotron {
	background-color: #343a40cf;
	width: 80%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
    color: #f8ffff;
}

.btn-primary {
    background: #212627d6;
    color: #f8ffff;
    border-color: #212627d6;
}

body {
	height: 100%;
	font-family: 'Libre Baskerville', serif;
	color: #313638;
	background-image: url(../images/goldcoins.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html {
	height: 100%;
	margin: 0;
}

