html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	text-align: center;
}

header {
	width: 100%;
	background-color: grey;
}

main {
	width: 100%;
	min-height: 90%;
	margin-bottom: -10px;
}

.row {
	padding-right: 0;
	padding-left: 0;
}

.app-name {
	font-size: 24px;
}

.nav-items {
	font-size: 24px;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

#app-title {
	margin-top: 0;
	margin-bottom: 20px;
}

#home-info {
	text-align: left;
}

#nav-user {
	text-align: right;
}

/*---------------------Display:None/Block-------------------*/
.nav-bar-container {
	display: none;
}

.home-banner-container {
	display: block;
}

.home-container {
	display: block;
}

.donations-container {
	display: none;
}

.footer-container {
	display: block;
}

.edit-donation-form-container {
	display: none;
}

.create-donation-container {
	display: block;
}
/*----------------------------------------------------------*/


/*---------------------Home CSS-----------------------------*/
.login-form-container, .sign-up-form-container {
	border: 2px solid black;
	margin-bottom: 10px;
	border-radius: 4px;
	padding: 12px 12px;
}

.login-container{
	margin-bottom: 40px;
}
/*----------------------------------------------------------*/


/*------------------Contributions CSS-----------------------*/
.name-event-form {
	border: 2px solid black;
	padding: 12px 10px 2px 10px;
	border-radius: 4px;
	width: 60%;
	margin: 10px auto;
}

.create-donation-container {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.donation-list-container {
	display: block;
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 100px;
}

.donation-item {
	border: 2px solid black;
	border-radius: 4px;
	padding: 12px 2px;
	width: 80%;
	margin: 10px auto;
}

.donations-list {
	padding: 2px 2px;
	margin-top: 2px;
}

.donation-details-container {
	text-align: left;
}

.donation-details-info {
	margin-top: 10px;
	margin-bottom: 10px;
}

.donation-buttons {
	text-align: center;
}

#create-donation-icon {
	font-size: 60px;
}

#delete-donation-icon {
	font-size: 30px;
	margin: 2px 2px;
	padding: 4px 4px;
}

.donation-form-container {
	display: none;
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 100px;
}

.donation-form {
	border: 2px solid black;
	padding: 12px 10px;
	border-radius: 4px;
	width: 60%;
	margin: 10px auto;
}

.donation-message-text {
	width: 100%;
	border-radius: 4px;
	height: 100px;
}

.hidden-id {
	display: none;
}
/*-----------------------------------------------------------*/


/*------------------------buttons CSS------------------------*/
.btn {
	width: 30%;
	font-size: 12px;
	margin: 4px 4px;
	border: none;
  	background: transparent;
  	border: 2px solid black;
  	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-create, #add-to-event {
	width: 30%;
	font-size: 16px;
	margin: 12px 12px;
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
/*-------------------------------------------------------*/


/*------------------bootstrap override-------------------*/
.form-group {
	text-align: left;
}
/*-------------------------------------------------------*/


/*------------------------Footer-------------------------*/
footer {
   	width: 100%;
   	color: black;
}

.copyright {
	text-align: left;
}

.connect {
	width: 6%;
	height: 6%;
}

.creator {
	text-align: right;
}
/*-------------------------------------------------------*/


/*-------------MEDIA QUERY FOR MOBILE*-------------------*/
@media screen and (max-width: 540px) {
	.btn {
		font-size: 12px;
		width: 80%;
	}

	#create-donation-icon {
		font-size: 50px;
	}

	.donation-list-container {
		display: block;
		border: 2px solid black;
		margin-top: 10px;
		margin-bottom: 120px;
	}

	.donation-delete {
		text-align: center;
	}

	#home-info {
		text-align: center;
	}

	#nav-user, .dropdown{
		text-align: center;
	}

	h4 {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 4px;
	}

	.btn-create {
		width: 75%;
		height: 75;
		font-size: 14px;
	}

	.event-delete {
		text-align: center;
	}

	#create-event-icon {
		font-size: 50px;
	}

	.event-display-container {
		border: 2px solid black;
		margin-top: 10px;
		margin-bottom: 120px;
	}

	.copyright{
		text-align: center;
		margin-top: 10px;
	}

	.connect{
		width: 10%;
		height: 10%;
		margin: 10px 0;
	}

	.creator{
		text-align: center;
		margin: 10px 0;
	}
}